<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Livros</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">    
    </head>
    <body>
        <h1 style="text-align: center;">Relação livros</h1>
        <div class="container p-3 my-3 border">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <thead>
                            <th>Nome</th>
                            <th>Gênero</th>
                            <th>Entrada</th>
                            <th>Saída</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for livro in livros%}
                            <tr>
                                <td>{{livro.nome}}</td>
                                <td>{{livro.genero}}</td>
                                <td>{{livro.entrada}}</td>
                                <td>{{livro.saida}}</td>
                                <td><a href="/livro/update/{{livro.id}}" class="btn btn-outline-warning btn-lg" role="button" aria-pressed="true">Alterar</a>
                                    <a href="/livro/delete/{{livro.id}}" class="btn btn-outline-danger btn-lg" role="button" aria-pressed="true">Apagar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="/livro/create" class="btn btn-outline-primary btn-lg" role="button" aria-pressed="true">Novo</a>
                </div>
            </div>
        </div>
    </body>
</html>